.App {
  text-align: center;
}

.App-logo {
  height: 70vmin;
  pointer-events: none;
  margin-left: auto;
  margin-right: auto;

}


h1 {
  display: inline;
  margin-left: auto;
  margin-right: auto;
  font-family: 'Courier New', Courier, monospace;
  font-weight: normal;
}

.App-header {
  background-color: #e2e2e2;
  min-height: 10vh;
  display: block;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(18px + 2vmin);
  color: rgb(82, 75, 75);
}

.CustomTriggerCSS--open {
  padding: 5px;
  border: 1px solid rgb(14, 13, 13);
  border-radius: 5px;
}


.CustomTriggerCSS
{
  padding: 5px;
  border: 1px solid rgb(14, 13, 13);
  border-radius: 5px;
}

.CustomTriggerSubCSS
{
  padding: 5px;
  margin-left:10%;
  border: 1px solid rgb(14, 13, 13);
  border-radius: 5px;
}

.CustomTriggerSubCSS--open {
  padding: 5px;
  margin-left:10%;
  border: 1px solid rgb(14, 13, 13);
  border-radius: 5px;
}

.CustomInnerContentCSS
{
  padding: 1px;
}

.CustomOuterContentCSS
{
  margin-top: 2vh;
  margin-bottom: 2vh;
  margin-left: 2%;
  margin-right: 2%;
  padding: 5px;
}

.heading
{
  
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 5vh;
  font-family: 'Courier New', Courier, monospace;
  font-weight: normal;
}

.info {
  font-family: 'Courier New', Courier, monospace;
  font-weight: normal;
  display: block-inline;
  width: 80%;
  margin: auto;
  font-size: calc(10px + 2vmin);
  color: rgb(82, 75, 75);


}


.App-body {
  background-color: #e2e2e2;
  min-height: 90vh;
  display: inline-block;
  font-family: 'Courier New', Courier, monospace;
  font-weight: normal;
  font-size: calc(18px + 2vmin);
  color: rgb(82, 75, 75);
}
