.App {
  text-align: center;
}

.App-logo {
  height: 70vmin;
  pointer-events: none;
  margin-left: auto;
  margin-right: auto;

}


h1 {
  display: inline;
  margin-left: auto;
  margin-right: auto;
  font-family: 'Courier New', Courier, monospace;
  font-weight: normal;
}

.App-header {
  background-color: #e2e2e2;
  min-height: 10vh;
  display: block;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(18px + 2vmin);
  color: rgb(82, 75, 75);
}

.heading
{
  display: inline;
  margin-left: auto;
  margin-right: auto;
  font-family: 'Courier New', Courier, monospace;
  font-weight: normal;
}

.info {
  font-family: 'Courier New', Courier, monospace;
  font-weight: normal;
  display: block-inline;
  width: 80%;
  margin: auto;
  font-size: calc(10px + 2vmin);
  color: rgb(82, 75, 75);


}


.App-body {
  background-color: #e2e2e2;
  min-height: 90vh;
  display: inline-block;
  font-family: 'Courier New', Courier, monospace;
  font-weight: normal;
  font-size: calc(18px + 2vmin);
  color: rgb(82, 75, 75);
}
